
/* Navigation Style 1 */

.visible-menu .sticky-wrapper { opacity:1;}

.visible-menu .sticky-wrapper .progress-holder  { opacity:0;}
.visible-menu .is-sticky .progress-holder  {opacity:1;}

.sticky-wrapper {position:static!important; opacity:0;}


	#logo {
		background:url(../images/logo1.png) 0 18px no-repeat;
		margin-top: 10px;
		position:absolute;
		width:165px;
		height:60px;
		left:inherit;
		margin-left:0;
		z-index:100;
		display:block;
		transform-style: preserve-3d;
		transition: -moz-transform 0.5s ease 0s;
	}

	#logo a{
	  width: 165px;
	  height: 65px;
		position:absolute;
	}

	.logo-back {
		transform: rotateY(-180deg);
	}






	.navbar-inner {
		background: none;
		box-shadow: none !important;
		min-height: 80px;
		transition: all 0.3s ease-out 0s;
		border-bottom: none !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		box-shadow: 0px 2px 5px rgba(0,0,0,0)!important;
		transition: all 0.3s ease-out 0s;
		z-index:10;
	}

	.is-sticky {opacity:1;}

	.is-sticky #logo {
		background:url(../images/logo1.png) 0 7px no-repeat;
		margin-top:5px;

	}

	.is-sticky .navbar-inner {
		background: #1c1c1c;
		box-shadow: 0px 2px 5px rgba(0,0,0,0.2)!important;
		transition: all 0.3s ease-out 0s;
		min-height: 60px;
	}

	.is-sticky .navbar .nav > li > a {
		line-height:26px;
	}

	.navbar-inner .container {
		padding:20px 0;
		max-width:1560px;
		border-bottom:1px solid #fff;

	}

	.is-sticky .navbar-inner .container {
		border-bottom:none;
	}

	.navbar {
		position: absolute;
	}

	.navbar .nav {
		width:100%;
		text-align:right;
	}

	.navbar .nav > li {
		float: none;
    display: inline-block;
    padding: 15px 15px;
    border-radius: 5px;
	}





	.navbar .nav > li > a {
		text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    display: block;
    letter-spacing: 1px;
    height: 100%;
    transition: all 0.3s ease-out 0s;
    line-height: 65px;
    text-shadow: none;
		padding: 2px 10px 0px 10px;
	}

	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    box-shadow: none!important;
    color: #fff!important;
    height: 100%!important;
    transition: all 0.3s ease-out 0s!important;
    border-radius: 5px;
    background-color: #1b9af7;
    padding: 2px 10px 2px 10px;

	}

	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
		box-shadow: none!important;
    color: #fff!important;
    height: 100%!important;
    transition: all 0.3s ease-out 0s!important;
    border-radius: 5px;
    background-color: #1b9af7;
    padding: 2px 10px 2px 10px;
	}

	.navbar .nav > li:last-child > a {

	}

	.navbar .show-menu {
		float: right;
		width:30px;
		margin: 15px 30px 15px 10px;
		height: 30px;
		padding:2px;
		background:url(../images/responsive-menu1.png) no-repeat 2px 2px;
		background-size:30px 30px;
		cursor:pointer;
		border-radius:3px;
		opacity:0.7;
		display:none
	}

	.navbar .show-menu:hover {
		opacity:1;
	}

	
@media only screen and (max-width: 1366px) {

.navbar .nav > li {

    padding: 15px 7px;

}




}	


@media only screen and (max-width: 1300px) {

	.navbar-inner .container {
		padding:20px 0;
		width:100%;
		border-bottom:1px solid #fff;

	}




}


@media only screen and (max-width: 1024px) {

	.navbar-inner {
		min-height: 45px!important;
		padding:0!important;
		background:#222222;
	}



	#logo {
		background: url(../images/logo1.png) 0px 0px no-repeat!important;
    margin-top: 15px!important;
    margin-left: 20px!important;
		height: 45px!important;

	}


	.nav-collapse {
		padding:0px 30px;
		display:none;
	}

	.navbar .nav > li {
		display: inline-block;
		float: left;
		width:100%;
    padding: 2px 15px 2px 2px;
	}

	.navbar .nav > li:last-child {
		border-bottom:none;
	}

	.navbar .nav {
		text-align: left;
		width: 100%;
	}

	.navbar .nav > li > a {
		padding: 8px 10px;
		font-family: 'Open Sans',serif;
		font-size:12px;
		line-height:25px;
		color: #999999;
	}



	.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
			padding: 8px 10px;
		color: #222222;
		border-bottom:none;
		background-color: #1b9af7;
	}

	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
			padding: 8px 10px;
		color: #222222;
		border-bottom:none;
		    background-color: #1b9af7;
	}

	.navbar .show-menu {
		display:block;
	}

	.navbar .nav-collapse .nav.pull-right {
		float: left;
		margin:10px 0;
	}




}






.collapsing {
overflow:visible;
-webkit-transition-timing-function:ease;
-o-transition-timing-function:ease;
transition-timing-function:ease;
-webkit-transition-duration:.0s;
-o-transition-duration:.0s;
transition-duration:.0s;

}



@media only screen and (max-width: 767px) {

}



@media only screen and (max-width: 479px) {

}
